@media screen and (max-width: 1000px) {

.section-4 .img-frame-2{
    display: none;
}

.section-4 .img-frame-1{
    display: none;
}

.section-1 span img{
    display: none;
}

.section-1 .background-main{
    display: none;
}

.section-1{
    padding: 50%;
    display: flex;
}
}